In [9]:
sales = [15000, 18000, 22000, 25000, 19500, 21000, 17500, 24000, 23000, 20000, 19000, 25000]

print(f"The sum is: {sum(sales)}")
print(f"Monthly sales is: {sum(sales)/12}")
print(f"Highest sales in the DataSet is: {max(sales)}")
print(f"Lowest sales in the DataSet is: {min(sales)} ")

The sum is: 249000
Monthly sales is: 20750.0
Highest sales in the DataSet is: 25000
Lowest sales in the DataSet is: 15000

In [28]:
sales = [15000, 18000, 22000, 25000, 19500, 21000, 17500, 24000, 23000, 20000, 19000, 25000]
months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]


print("|MONTHLY SALES|")
print("|MONTH | SALES|")

for i in range(len(sales)):
    print(f"|{months[i]} | {sales[i]}|")

|MONTHLY SALES|
|MONTH | SALES|
|Jan | 15000|
|February | 18000|
|March | 22000|
|April | 25000|
|May | 19500|
|June | 21000|
|July | 17500|
|August | 24000|
|September | 23000|
|October | 20000|
|November | 19000|
|December | 25000|

In [40]:
ratings = [4.5, 3.8, 4.2, 5.0, 4.7, 3.9, 4.1, 4.8, 4.0, 3.5]

total_ratings = len(ratings)
print(f"Total number of ratings: {total_ratings}")
average_rating = round(sum(ratings) / total_ratings, 2)
print(f"Average rating: {average_rating}")

above_four_stars = sum(1 for rating in ratings if rating > 4.0)
print(f"Number of ratings above 4.0 stars: {above_four_stars}")


for rating in ratings:
    if rating >= 4.0:
        print(f"{rating}: Good ratings")
    elif rating <= 4.0:
        print(f"{rating}: Needs Improvement")

Total number of ratings: 10
Average rating: 4.25
Number of ratings above 4.0 stars: 6
4.5: Good ratings
3.8: Needs Improvement
4.2: Good ratings
5.0: Good ratings
4.7: Good ratings
3.9: Needs Improvement
4.1: Good ratings
4.8: Good ratings
4.0: Good ratings
3.5: Needs Improvement

In [37]:

regions = ['I', 'II', 'III', 'IV']
sales_by_region = [45000, 38000, 52000, 47000]

highest_sales_index = sales_by_region.index(max(sales_by_region))
highest_sales_region = regions[highest_sales_index]
print(f"Region with the highest sales: {highest_sales_region}")


print("Regions with their respective sales")
print(f"I: {sales_by_region[0]}")
print(f"II: {sales_by_region[1]}")
print(f"III: {sales_by_region[2]}")
print(f"IV: {sales_by_region[3]}")

print(f"Total Revenue is: {sum(sales_by_region)}")

Region with the highest sales: III
Regions with their respective sales
I: 45000
II: 38000
III: 52000
IV: 47000
Total Revenue is: 182000

In [41]:
products = {'Laptop': 1200, 'Tablet': 600, 'Smartphone': 800, 'Monitor': 300}


print("Product Prices:")
for product, price in products.items():
    print(f"{product}: ${price}")


most_expensive_product = max(products, key=products.get)
least_expensive_product = min(products, key=products.get)
print(f"Most expensive product: {most_expensive_product} (${products[most_expensive_product]})")
print(f"Least expensive product: {least_expensive_product} (${products[least_expensive_product]})")


total_cost = sum(products.values())
print(f"Total cost if buying one of each: ${total_cost}")

Product Prices:
Laptop: $1200
Tablet: $600
Smartphone: $800
Monitor: $300
Most expensive product: Laptop ($1200)
Least expensive product: Monitor ($300)
Total cost if buying one of each: $2900