In [21]:
revenues = [12000, 15000, 17000, 22000, 19500, 18000, 25000, 23000, 21000, 19000, 17500, 24000]

total_annual_revenue = sum(revenues)
average_monthly_revenue = total_annual_revenue / len(revenues)
highest_revenue = max(revenues)
lowest_revenue = min(revenues)

print("1. Sales Summary:")
print(f"Total Annual Revenue: {total_annual_revenue}")
print(f"Average Monthly Revenue: {average_monthly_revenue:.2f}")
print(f"Highest Revenue Month: {highest_revenue}")
print(f"Lowest Revenue Month: {lowest_revenue}")

1. Sales Summary:
Total Annual Revenue: 233000
Average Monthly Revenue: 19416.67
Highest Revenue Month: 25000
Lowest Revenue Month: 12000

In [22]:
salaries = {"Justin": 5500, "Abiel": 6000, "Uderbe": 7000, "Deever": 7200, "Andrei": 3000}

print("\n2. Employee Salaries:")
print("-----------------------")
print("{:<10} {:>8}".format("Name", "Salary"))
print("-----------------------")
for name, salary in salaries.items():
    print("{:<10} {:>7}".format(name, salary))
print("-----------------------")

highest_salary = max(salaries.values())
lowest_salary = min(salaries.values())
total_salaries = sum(salaries.values())

print(f"Highest Salary: {highest_salary}")
print(f"Lowest Salary: {lowest_salary}")
print(f"Total Salaries Paid: {total_salaries}")

2. Employee Salaries:
-----------------------
Name         Salary
-----------------------
Justin        5500
Abiel         6000
Uderbe        7000
Deever        7200
Andrei        3000
-----------------------
Highest Salary: 7200
Lowest Salary: 3000
Total Salaries Paid: 28700

In [23]:
ratings = [4.3, 3.8, 4.2, 5.0, 4.7, 3.9, 4.1, 4.8, 4.0, 3.5, 4.3, 4.9]

total_ratings = len(ratings)
print(f"3. Total number of ratings: {total_ratings}")
average_rating = round(sum(ratings) / total_ratings, 2)
print(f"Average rating: {average_rating}")

above_four_stars = sum(1 for rating in ratings if rating > 4.0)
print(f"Number of ratings above 4.0 stars: {above_four_stars}")


for rating in ratings:
    if rating >= 4.0:
        print(f"{rating}: Excellent Product")
    elif rating <= 4.0:
        print(f"{rating}: Needs Improvement")

3. Total number of ratings: 12
Average rating: 4.29
Number of ratings above 4.0 stars: 8
4.3: Excellent Product
3.8: Needs Improvement
4.2: Excellent Product
5.0: Excellent Product
4.7: Excellent Product
3.9: Needs Improvement
4.1: Excellent Product
4.8: Excellent Product
4.0: Excellent Product
3.5: Needs Improvement
4.3: Excellent Product
4.9: Excellent Product

In [24]:
transactions = [True, False, True, True, False, True, False, True, True, False, True, True]

total_transactions = len(transactions)
successful_transactions = sum(transactions)
success_rate = (successful_transactions / total_transactions) * 100

print("\n4. Transaction Success Rate:")
print(f"Total Transactions: {total_transactions}")
print(f"Successful Transactions: {successful_transactions}")
print(f"Success Rate: {success_rate:.2f}%")

4. Transaction Success Rate:
Total Transactions: 12
Successful Transactions: 8
Success Rate: 66.67%

In [25]:
likes =720
comments = 150
shares = 90

total_engagements = likes + comments + shares

print(f"5. Total number of likes = {likes}")
print(f"Total number of comments = {comments}")
print(f"Total number of shares = {shares}")
print(f"Total number of engagements = {total_engagements}")


if (total_engagements >= 1000):
  print("Engagement Level: Highly engaging")

elif(500<= total_engagements <= 1000):
  print("Engagement Level: Moderately engaging")

else:
  print("Engagement Level: Not engaging")

5. Total number of likes = 720
Total number of comments = 150
Total number of shares = 90
Total number of engagements = 960
Engagement Level: Moderately engaging